<div class="col-lg-12 px-2">
    <div class="text-muted pt-3">
        <h6 class="border-bottom border-gray pb-2 mb-0">
            <form method="GET" action="#">
                <div class="input-group mb-3">
                    <input type="text" name="query" value="{{.SearchText}}" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-info" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </h6>

        <ul class="list-group list-group-flush" id="table">

            <li class="list-group-item list-group-item-action p-2">
                <strong>
                    <div class="row">
                        <div class="col-md-12"><a class="btn btn-info" style="float: right;" href="/?fu=true">Refresh all</a></div>
                    </div>
                </strong>
            </li>

            <!--
	    <li class="list-group-item list-group-item-action p-2 disabled">
                <strong>
                    <div class="row">
                        <div class="col-md-1">Banner</div>
                        <div class="col-md-9">Title</div>
                        <div class="col-md-2">Episodes</div>
                    </div>
                </strong>
            </li>

            {{range .Anime}}
            <li class="list-group-item list-group-item-action p-2 small searchable cursor-pointer" id="colli-{{.Anime.Route}}">
                <div class="row">
                    <div class="col-md-1">
                        <img class="card-img-top" src="{{.Anime.Banner}}" alt="Card image cap">
                    </div>
                    <div class="col-md-9">
                        <strong><a href="/listanime/{{.Anime.Route}}">{{.Anime.Title}}</a></strong>
                    </div>


                    <div class="col-md-2">
                        {{.Anime.EpisodeCount}}/<strong>{{.Anime.EpisodeCurrent}}</strong>
                        {{.Anime.Status}}<br><br>
                        {{.Anime.EpisodeRelease.Format "2006-01-02 15:04:05"}}
                    </div>
                </div>
            </li>
	    {{end}}
	    -->

        </ul>

    </div>
</div>

<div class="col-lg-12 px-2">
    <div class="text-muted pt-3">

        {{range .Anime}}
            <div class="card" style="width: 13rem; max-width: calc(50% - 6px); margin: 3px; float: left;">
                <a href="/listanime/{{.Anime.Route}}">
                    <img src="{{.Anime.Banner}}" class="card-img-top" alt="{{.Anime.Title}}" title="{{.Anime.Title}}" style="height: 260px; object-fit: cover;">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        {{.Anime.EpisodeCount}}/<strong>{{.Anime.EpisodeCurrent}}</strong>
                        {{.Anime.Status}}
                    </h5>
                    <p class="card-text" style="height: 72px; overflow: hidden;">
		    	<strong><a href="/listanime/{{.Anime.Route}}" alt="{{.Anime.Title}}" title="{{.Anime.Title}}">{{.Anime.Title}}</a></strong>
                    </p>
                </div>
                <div class="card-footer text-center p-0">
                        {{.Anime.EpisodeRelease.Format "2006-01-02 15:04:05"}}
                </div>
            </div>
	{{end}}

    </div>
</div>
