<div class="col-lg-12 px-2">
    <div class="text-muted pt-3">

        <div class="row">
            <div class="col-md-3">
                <img class="card-img-top" src="https://img.animeschedule.net/production/assets/public/img/{{.Anime.Banner}}" alt="Card image cap">
            </div>

            <div class="col-md-9">
                <h1>
                    <strong><a href="/listanime/{{.Anime.Route}}">{{.Anime.Title}}</a></strong>
                </h1>
                <h5>
                    <a href="https://animeschedule.net/anime/{{.Anime.Route}}" target="_blank">View on AnimeSchedule</a>
                </h5>

                <p>{{.Anime.FullInfo.Description}}</p>
            </div>
        </div>

        <div class="card-group my-1">
            <div class="card">
                <div class="card-body py-1">
                    <h5 class="card-title mb-0">
                        Nyaa Filter
                    </h5>
                </div>
                <div class="card-footer">
                    <form method="GET">
                        <input type="text" name="hash" id="hash" value="{{.Filter.Hash}}" hidden>

                        <div class="" style="float: left; margin-right: 12px;">
                            <select class="form-select" name="category" id="category" aria-label="Category" disabled>
                                <option value="anime">Anime</option>
                            </select>
                        </div>

                        <div class="" style="float: left; margin-right: 12px;">
                            <select class="form-select" name="subcategory" id="subcategory" aria-label="Category">
                                <option value="eng" {{if eq .Filter.Nyaa.SubCategory "eng"}}selected{{end}}>- English</option>
                                <option value="raw" {{if eq .Filter.Nyaa.SubCategory "raw"}}selected{{end}}>- Raw</option>
                                <option value=""    {{if eq .Filter.Nyaa.SubCategory ""   }}selected{{end}}>- All</option>
                            </select>
                        </div>

                        <div class="" style="float: left; margin-right: 12px;">
                            <select class="form-select" name="group" id="group" aria-label="Group">
                                <option value="EMBER"      {{if eq .Filter.Nyaa.Group "EMBER"     }}selected{{end}}>EMBER</option>
                                <option value="Erai-raws"  {{if eq .Filter.Nyaa.Group "Erai-raws" }}selected{{end}}>Erai-raws</option>
                                <option value="NanakoRaws" {{if eq .Filter.Nyaa.Group "NanakoRaws"}}selected{{end}}>NanakoRaws</option>
                                <option value="ToonsHub"   {{if eq .Filter.Nyaa.Group "ToonsHub"  }}selected{{end}}>ToonsHub</option>
                                <option value="LostYears"  {{if eq .Filter.Nyaa.Group "LostYears" }}selected{{end}}>LostYears</option>
                                <option value=""           {{if eq .Filter.Nyaa.Group ""         }}selected{{end}}></option>
                            </select>
                        </div>

                        <div class="" style="float: left; margin-right: 12px;">
                            <select class="form-select" name="resultcount" id="resultcount" aria-label="Results">
                                <option value="5"   {{if eq .Filter.Nyaa.ResultCount "5"  }}selected{{end}}>Results - 5</option>
                                <option value="10"  {{if eq .Filter.Nyaa.ResultCount "10" }}selected{{end}}>Results - 10</option>
                                <option value="15"  {{if eq .Filter.Nyaa.ResultCount "15" }}selected{{end}}>Results - 15</option>
                                <option value="25"  {{if eq .Filter.Nyaa.ResultCount "25" }}selected{{end}}>Results - 25</option>
                                <option value="100" {{if eq .Filter.Nyaa.ResultCount "100"}}selected{{end}}>Results - All</option>
                            </select>
                        </div>

                        <div class="" style="float: left; margin-right: 12px;">
                            <select class="form-select" name="nameparams" id="nameparams" aria-label="Results">
                                <option value="2"   {{if eq .Filter.Nyaa.NameParams "2"  }}selected{{end}}>NP - 2</option>
                                <option value="3"   {{if eq .Filter.Nyaa.NameParams "3"  }}selected{{end}}>NP - 3</option>
                                <option value="4"   {{if eq .Filter.Nyaa.NameParams "4"  }}selected{{end}}>NP - 4</option>
                                <option value="5"   {{if eq .Filter.Nyaa.NameParams "5"  }}selected{{end}}>NP - 5</option>
                                <option value="100" {{if eq .Filter.Nyaa.NameParams "100"}}selected{{end}}>NP - All</option>
                            </select>
                        </div>

                        <div class="" style="float: left; margin-right: 12px;">
                            <select class="form-select" name="resolution" id="resolution" aria-label="Results">
                                <option value="1080p" {{if eq .Filter.Nyaa.Resolution "1080p" }}selected{{end}}>1080p</option>
                                <option value="720p"  {{if eq .Filter.Nyaa.Resolution "720p"  }}selected{{end}}>720p</option>
                                <option value=""      {{if eq .Filter.Nyaa.Resolution ""      }}selected{{end}}>All res</option>
                            </select>
                        </div>

                        <div class="" style="float: left; margin-right: 12px;">
                            <div class="form-check form-switch my-2">
                                <input class="form-check-input" type="checkbox" name="forcerefresh" id="forcerefresh" {{if .Filter.Nyaa.ForseRefrsh}}checked{{end}}>
                                <label class="form-check-label" for="forcerefresh">Force refresh</label>
                            </div>
                        </div>

                        <div class="" style="float: left; margin-right: 12px;">
                            <button type="submit" class="btn btn-primary">Save Filter</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <ul class="list-group list-group-flush" id="table">

            <li class="list-group-item list-group-item-action p-2 disabled">
                <strong>
                    <div class="row">
                        <div class="col-md-2">Episode</div>
                        <div class="col-md-8">Title</div>
                        <div class="col-md-2">Availability</div>
                    </div>
                </strong>
            </li>

            {{range $i, $e := .Episodes}}
            <li class="list-group-item list-group-item-action p-2 small searchable cursor-pointer" id="colli-{{.Index}}"
                data-bs-toggle="collapse" data-bs-target="#collapse-{{.Index}}" aria-expanded="false"
                aria-controls="collapse-{{.Index}}">
                <div class="row">
                    <div class="col-md-2">
                        <div style="float: left; padding-right: 12px;">
                        {{.Index}}
                        </div>
                        {{if .Torrents}}
                        {{$cellP := index .Torrents 0}}
                        <div class="progress" style="height: 100%">
                            <div class="progress-refresh progress-{{$cellP.Torrent.Hash}} progress-bar bg-{{$cellP.Progress.Color}}" role="progressbar"
                                style="width: {{$cellP.Progress.Percentage}}%;" aria-valuenow="{{$cellP.Progress.Percentage}}"
                                aria-valuemin="0" aria-valuemax="100">{{$cellP.Progress.Percentage}}%</div>
                        </div>
                        {{else if and (eq $i 0) (timegt now $.Anime.EpisodeRelease)}}
                        Airing at: {{$.Anime.EpisodeRelease.Format "2006-01-02 15:04:05"}}
                        {{end}}
                    </div>
                    <div class="col-md-8">
                        {{.Title}}
                    </div>
                    <div class="col-md-2">
                        {{if .Torrents}}
                        <strong>Available</strong>
                        {{else}}
                        Not Available
                        {{end}}
                    </div>
                </div>
            </li>
            <li class="list-group-item border-dark list-group-item-action p-0 bg-light collapse" id="collapse-{{.Index}}">
                {{$id := .Index}}
                {{if .Torrents}}
                {{range .Torrents}}
                <div class="m-2 pb-1 border-bottom overflow-auto small row">
                    <div class="col-md-2">
                        <div class="progress" style="height: 100%">
                            <div class="progress-refresh progress-{{.Torrent.Hash}} progress-bar bg-{{.Progress.Color}}" role="progressbar"
                                style="width: {{.Progress.Percentage}}%;" aria-valuenow="{{.Progress.Percentage}}"
                                aria-valuemin="0" aria-valuemax="100">{{.Progress.Percentage}}%</div>
                            <script>refreshTorrent('{{.Torrent.Hash}}')</script>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <strong><a href="{{.Url}}">{{.Info.Name}}</a></strong>
                    </div>
                    <div class="col-md-2">
                        <div style="float: left; padding-right: 12px;">
                        {{size .Info.TotalSize}}
                        </div>
                        <form method="GET" action="/delepisode" style="float: right;">
                            <div class="input-group">
                                <input type="text" name="route" value="{{$.Anime.Route}}" hidden>
                                <input type="text" name="hash"  value="{{.Torrent.Hash}}" hidden>
                                <div class="input-group-append" style="width: 100%">
                                    <button class="btn btn-danger py-0" type="submit" style="width: 100%">Remove</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {{end}}
                {{else}}
                <div class="m-2 mb-3 overflow-auto small row">
                    <div class="col-md-2">
                        Nothing Downloaded for episode
                    </div>
                    <div class="col-md-6">
                        Search string: {{.NyaaText}}
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-warning py-0" href="/refreshnyaa/{{$.Anime.Route}}/{{$id}}?hash={{$.Filter.Hash}}">Refresh nyaa list</a>
                    </div>
                </div>
                {{range .Nyaa}}
                <div class="m-2 border-bottom overflow-auto small row">
                    <div class="col-md-2">
                        {{.Category}}
                    </div>
                    <div class="col-md-6">
                        <strong><a href="{{.Link}}" target="_blank">{{.Title}}</a></strong>
                    </div>
                    <div class="col-md-2">
                        {{.Size}} /
                        S:{{.Seeders}} /
                        L:{{.Leechers}}
                    </div>
                    <div class="col-md-2">
                        <form method="GET" action="/addepisode">
                            <div class="input-group">
                                <input type="text" name="route" value="{{$.Anime.Route}}" hidden>
                                <input type="text" name="index" value="{{$id}}" hidden>
                                <input type="text" name="link"  value="{{.Torrent}}" hidden>
                                <div class="input-group-append" style="width: 100%">
                                    <button class="btn btn-info" type="submit" style="width: 100%">Download</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {{end}}
                {{end}}
                <div class="m-2 overflow-auto small row">
                    <div class="col-md-12">
                        <form method="GET" action="/addepisode">
                            <div class="input-group">
                                <input type="text" name="route" value="{{$.Anime.Route}}" hidden>
                                <input type="text" name="index" value="{{.Index}}" hidden>
                                <input type="text" name="link" class="form-control" placeholder="New Episode Link ..." aria-label="Link" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="submit">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            {{end}}

        </ul>

    </div>
</div>
